html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Prevent scrollbars from appearing */
    overflow: hidden;
    background-color: #f4f4f4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
    /* Make the container fill its parent (the body) */
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-prefix {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    /* user can't click/delete this */
    font-size: 14px;
}

.input-wrapper input {
    padding-left: 28px;
    /* make room for prefix */
    width: 80px;
    /* same width as before */
}