html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Prevent scrollbars from appearing */
    overflow: hidden;
    background-color: #f4f4f4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
    /* Make the container fill its parent (the body) */
    width: 100%;
    height: 100%;
    background-color: #fff;
}